footer {
    background-color: #0c0c0c;
    color: #ffffff;
    padding-top: 20px;
    height: 84vh;
    h2 {
        font-size: 25px;
        padding: 15px; 
    }
    .imagenPagos {
      width: 100%;
    }
    
    .fondoFooter {
      text-align: center;
    }
  }
  